* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin-left: 10px;
    width: 98vw;
    height: 110vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 10vh 18vh 10vh 7vh;
    grid-template-areas: 
    "menu menu"
    "about main"
    "about footer"
}
.top {
    grid-area: menu;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
} 
.top div{
    display: flex;
    align-items: center;
}
.top .img3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-left {
    grid-area: about;
}
.banner1 {
    grid-area: main;
}
.banner2 {
    grid-area: footer;
}
.main-container {
    margin-left: 8rem;
    width: 90vw;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: flex-end;
    align-items: center;
    background-color: whitesmoke; 
}
.main-container div {
    display: flex;
    justify-content: center;
    align-items: center;
}