@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Dongle&family=Lato:ital@1&family=Roboto:wght@100&family=Source+Sans+Pro:wght@300&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 50vh;
}


.top div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10vh;
    border: 2px dashed gray;
}

.top .img3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top {
    display: flex;
    justify-content: center;
    align-items:center;
}

.nav-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 5%;
    border: 2px dashed green;
}

.banner img {
    position: relative;
    left: 7rem;
    bottom: 25rem;
    width: 93vw;
    height:25vh;
    border: 2px solid black;
}

.banner2 img {
    position: relative;
    left: 7rem;
    bottom: 25rem;
    width: 93vw;
    height: 14vh;
    border: 2px solid red;
}
.main-container {
    margin-left: 6rem;
    width: 93vw;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 2px dashed black;
}