* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 96vw;
    height: 100vh;
}
.container {
    width: 97vw;
    height: 60vh;
    border: 2px solid green;
}

.top {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
} 
.top div{
    margin-top: 20px;
    display: flex;
    justify-content: ;
    align-items: center;
    width: 90%;
    height: 10vh;
    border: 2px dashed gray;
}

.top .img3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top {
    display: flex;
    justify-content: center;
    align-items:center;
} 

.nav-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 5%;
    border: 2px dashed green;
}

/* .container {
    width: 96vw;
    height: 30vh;
    display: grid;
    grid-template-columns: 95px;
    grid-template-rows: 40px;
} 

.banner1 .img1{
    position: relative;
    left: 7rem;
    bottom: 25rem;
    width: 90vw;
    height:25vh;
    border: 2px solid black;
}

.banner2 .img2{
    position: relative;
    left: 7rem;
    bottom: 25rem;
    width: 90vw;
    height: 14vh;
    border: 2px solid red;
}
 
main {
    position: absolute;
    width: 80vw;
    border: 2px dashed darkviolet;
} */ */


/* .main-container {
   margin-left: 6rem;
   position: absolute;
    width: 90vw;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center; 
    border: 2px dashed black;
}

.main-container div {
    display: flex;
    justify-content: center;
    align-items: center;
} */